#token-hud .status-effects {
  visibility: hidden;
  position: absolute;
  left: 50px;
  top: 0;
  display: grid;
  padding: 3px;
  box-sizing: content-box;
  width: 200px;
  grid-template-columns: 50px 50px 50px 50px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px #000;
  border: 1px solid #333;
  border-radius: 4px;
  pointer-events: all;
}

#token-hud .status-effects.active {
  visibility: visible;
}

#token-hud .status-effects .effect-control {
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0.75;
}